doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title
      | Contacts Manager
    meta(name="description" content="Contacts Manager")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href='/')
  body
    app
      span
        | Loading...
